@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
/* common.css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 1.1em;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3% 0;
  z-index: 10;
}

header div {
  margin: 0 auto;
  width: 85%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div h2 {
  margin-top: 10px;
}

header div h2 a {
  vertical-align: middle;
}

header div h2 a img {
  width: 200px;
  height: 36px;
  margin-bottom: 10px;
}

header div .right {
  z-index: 50;
  margin-left: 18%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.08);
}

header div .right a {
  display: block;
}

header div .right a span {
  position: absolute;
  right: 30%;
  top: 50%;
  border: 1px solid #005ad5;
  width: 17px;
}

header div .right a span:nth-of-type(1) {
  -webkit-transform: translateY(-350%);
          transform: translateY(-350%);
}

header div .right a span:nth-of-type(3) {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}

header div .rotate {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

header div .rotate img {
  width: 180px;
  -webkit-animation: rot 15s linear infinite;
          animation: rot 15s linear infinite;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: translate(61%, -40%) rotate(0deg);
            transform: translate(61%, -40%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(61%, -40%) rotate(360deg);
            transform: translate(61%, -40%) rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: translate(61%, -40%) rotate(0deg);
            transform: translate(61%, -40%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(61%, -40%) rotate(360deg);
            transform: translate(61%, -40%) rotate(360deg);
  }
}

.burger {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.burger header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.burger header div {
  height: 100%;
  margin-left: 20px;
  width: 85%;
  height: auto !important;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger header div h2 a {
  vertical-align: middle;
}

.burger header div h2 a img {
  max-width: 165px;
  height: 28px;
  margin-bottom: 15px;
}

.burger header div .close {
  margin-left: 30%;
  margin-right: 0;
  width: 50px;
  height: 50px;
  background: #ffb500 !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 100%;
  position: relative;
}

.burger header div .close a {
  display: block;
}

.burger header div .close a span {
  position: absolute;
  right: 35%;
  top: 45%;
  border: 1px solid #fff;
  width: 17px;
}

.burger header div .close a span:nth-of-type(1) {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}

.burger header div .close a span:nth-of-type(2) {
  display: none;
}

.burger header div .close a span:nth-of-type(3) {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

.burger .bur_main {
  width: 100%;
  padding: 70px 20px;
  background: #004bba;
  overflow: scroll;
  color: #fff;
}

.burger .bur_main .wrap .mo {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.burger .bur_main .wrap .mo .en-txt {
  font-size: 34px;
  color: #fff;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0;
  position: relative;
  margin: 5px 0;
  font-weight: bold;
}

.burger .bur_main .wrap .menu {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.burger .bur_main .wrap .menu .en-txt {
  font-size: 34px;
  color: #fff;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0;
  position: relative;
  margin: 5px 0;
  font-weight: bold;
}

.burger .bur_main .wrap .menu .en-txt.on {
  color: #ffb500;
}

.burger .bur_main .wrap .menu ul {
  margin: 0;
  display: none;
  vertical-align: top;
}

.burger .bur_main .wrap .menu ul li {
  margin-right: 15px;
}

.burger .bur_main .wrap .menu ul li a {
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: -0.5px;
  position: relative;
  font-weight: 400;
}

.burger .bur_main .wrap .menu ul.active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2;
}

.burger .bur_main .wrap .event {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.burger .bur_main .wrap .event .en-txt {
  font-size: 34px;
  color: #fff;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0;
  position: relative;
  margin: 5px 0;
  font-weight: bold;
}

.burger .bur_main .wrap .event .en-txt.on {
  color: #ffb500;
}

.burger .bur_main .wrap .event ul {
  margin: 0;
  display: none;
  vertical-align: top;
}

.burger .bur_main .wrap .event ul li {
  margin-right: 15px;
  display: inline-block;
}

.burger .bur_main .wrap .event ul li a {
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: -0.5px;
  position: relative;
  font-weight: 400;
}

.burger .bur_main .wrap .event ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger .bur_main .wrap .community {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.burger .bur_main .wrap .community .en-txt {
  font-size: 34px;
  color: #fff;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0;
  position: relative;
  margin: 5px 0;
  font-weight: bold;
}

.burger .bur_main .wrap .community .en-txt.on {
  color: #ffb500;
}

.burger .bur_main .wrap .community ul {
  margin: 0;
  display: none;
  vertical-align: top;
}

.burger .bur_main .wrap .community ul li {
  margin-right: 15px;
  display: inline-block;
}

.burger .bur_main .wrap .community ul li a {
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: -0.5px;
  position: relative;
  font-weight: 400;
}

.burger .bur_main .wrap .community ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger .bur_main .wrap .franchise {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 5px 6px;
}

.burger .bur_main .wrap .franchise .en-txt {
  font-size: 34px;
  color: #fff;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0;
  position: relative;
  margin: 5px 0;
  font-weight: bold;
}

.burger .bur_main .wrap .franchise .en-txt.on {
  color: #ffb500;
}

.burger .bur_main .wrap .franchise ul {
  margin: 0;
  display: none;
  vertical-align: top;
}

.burger .bur_main .wrap .franchise ul li {
  margin-right: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger .bur_main .wrap .franchise ul li a {
  font-size: 13px;
  color: #fff;
  letter-spacing: -0.5px;
  position: relative;
  font-weight: 400;
}

.burger .bur_main .wrap .franchise ul.active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2;
}

.burger .bur_main .wrap_2 {
  padding: 5px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger .bur_main .wrap_2 ul {
  display: Table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border: 1px solid #336fc8;
  border-right: 0;
  margin-top: 15px;
}

.burger .bur_main .wrap_2 ul li {
  display: Table-cell;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  width: 25%;
  padding: 0;
  white-space: nowrap;
  border-right: 1px solid #336fc8;
  margin-right: 15px;
}

.burger .bur_main .wrap_2 ul li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 15px;
  font-weight: normal;
  display: block;
  color: #fff;
}

.burger .bur_main .wrap_2 ul li a .circle img {
  margin: 0 auto 5px;
  display: block;
  max-width: 40px;
}

.burger .bur_main .info {
  height: auto;
  display: block;
}

.burger .bur_main .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger .bur_main .info div .en-txt {
  font-size: 16px !important;
  width: 80px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #fff;
}

.burger .bur_main .info div .en-txt::after {
  content: '|';
  width: 1px;
  height: 15px;
  margin-left: 10px;
}

.burger .bur_main .info div p {
  margin-bottom: 0.85em;
  line-height: 1.6;
  color: #dcdcdc;
  font-size: 12px;
}

.burger .bur_main .info .sns-share {
  margin: 10px 0 15px 0;
}

.burger .bur_main .info .sns-share ul {
  width: 100%;
  list-style: none outside;
}

.burger .bur_main .info .sns-share ul li {
  margin: 0 5px;
  display: inline-block;
}

.burger .bur_main .info .sns-share ul li a img {
  width: 32px;
}

.burger.active {
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

footer {
  font-family: 'Noto Sans KR', sans-serif;
}

footer .foot-widget {
  z-index: 1;
  background: #005ad5;
  border: 0;
}

footer .foot-widget .foot-wrap {
  padding: 38px 30px;
  background: #005ad5;
  text-align: center;
}

footer .foot-widget .foot-wrap .ft-logo {
  margin-bottom: 10px;
}

footer .foot-widget .foot-wrap .ft-logo a img {
  width: 190px;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

footer .foot-widget .foot-wrap .ft-info {
  line-height: 1.6;
  color: #fff;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info01 {
  font-size: 14px;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info01 span {
  font-size: 100%;
  color: inherit;
  display: block;
}

footer .foot-widget .foot-wrap .ft-info .info02 {
  font-size: 14px;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info02 p {
  padding: 0 3px;
  display: inline-block;
}

footer .foot-widget .foot-wrap .link-btn {
  margin: 15px 0 20px;
}

footer .foot-widget .foot-wrap .link-btn ul {
  float: none;
  width: 100%;
}

footer .foot-widget .foot-wrap .link-btn ul li {
  margin: 0 3px;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  line-height: 1.8em;
  font-size: 15px;
  clear: both;
}

footer .foot-widget .foot-wrap .link-btn ul li a {
  width: 150px;
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 45px;
  display: inline-block;
  line-height: 44px;
  font-size: 14px;
}

footer .foot-widget .foot-wrap .sns-share ul {
  width: 100%;
  list-style: none outside;
}

footer .foot-widget .foot-wrap .sns-share ul li {
  margin: 0 5px;
  display: inline-block;
}

footer .foot-widget .foot-wrap .sns-share ul li a {
  outline: 0;
}

footer .foot-widget .foot-wrap .sns-share ul li a img {
  width: 32px;
}

footer .copy-right {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0;
  background: #ffb500;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  font-size: 12px;
  line-height: 1.6;
}

footer aside {
  display: none;
  visibility: visible;
  opacity: 1;
  position: fixed;
  width: 56px;
  height: 56px;
  padding: 16px 0;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 12px 7px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 12px 7px rgba(0, 0, 0, 0.05);
}

footer aside::before {
  content: '';
  background: url("../img/main/icon_topbtn.png") center center no-repeat;
  background-size: 100%;
  display: block;
  width: 21px;
  height: 11px;
  margin: 0 auto 7px;
  width: 12px;
  height: 7px;
  margin-bottom: 1px;
}

footer aside::after {
  content: 'TOP';
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffb500;
  display: block;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-align: center;
}

main {
  width: 100%;
  overflow: hidden;
}

.sec_main .big_title {
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
  padding-top: 48px;
  font-size: 34px;
  color: #005ad5;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
}

.sec_main .main_01 .sub_menu {
  white-space: nowrap;
  border-top: 1px solid  #e1e1e1;
  border-bottom: 1px solid  #e1e1e1;
  padding: 5px 20px;
  margin: 12px 0 0;
  background: #fff;
}

.sec_main .main_01 .sub_menu ul {
  padding: 5px 0;
  overflow-x: auto;
}

.sec_main .main_01 .sub_menu ul li {
  font-weight: 300;
  margin: 0 10px;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline-block;
}

.sec_main .main_01 .sub_menu ul li a {
  color: #777777;
}

.sec_main .main_01 .sub_menu ul li:nth-of-type(2) a {
  color: #005ad5;
  font-weight: bold;
}

.sec_main .menu-tap {
  padding: 0 30px 20px;
  margin-top: 20px;
  display: block;
  text-align: center;
  width: 100%;
}

.sec_main .menu-tap .left, .sec_main .menu-tap .left2 {
  font-family: 'Cormorant Garamond', serif;
  color: #ffb500;
  opacity: 0.44;
  font-size: 28px;
  margin: 0 20px;
  vertical-align: top;
  display: inline-block;
  letter-spacing: -2px;
  line-height: 1.3;
  font-weight: bold;
}

.sec_main .menu-tap .left.active, .sec_main .menu-tap .left2.active {
  opacity: 1;
}

.sec_main02 .big_title {
  font-size: 34px;
  letter-spacing: -0.02em;
  color: #005ad5;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
}

.sec_main02 .menu_list {
  margin: 30px 0 70px;
}

.sec_main02 .menu_list .product_name {
  margin-top: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  font-size: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  color: #333333;
  border-bottom: 1px solid #f8f8f8 !important;
}

.sec_main02 .menu_list .grid_container {
  position: relative;
  height: auto !important;
  margin-bottom: 100px;
}

.sec_main02 .menu_list .grid_container .grid_entry {
  text-align: center;
  width: 50%;
  border: 0;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  background: #fff;
  margin-top: -1px;
  float: left;
  position: static !important;
  -webkit-transition: all 0s ease !important;
  transition: all 0s ease !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.sec_main02 .menu_list .grid_container .grid_entry article {
  position: relative;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_image img {
  width: 60%;
  margin: 15px auto 0;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_content {
  padding-bottom: 35px;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_content .entry_content_header {
  text-align: center;
  font-size: 20px;
  line-height: 1.1em;
  margin-bottom: 8px;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_content .entry_content_header a {
  color: #333333;
  font-family: 'Noto Sans KR', sans-serif;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_content .entry_content_header a span {
  font-family: 'Barlow', sans-serif;
  line-height: 19.2px;
  display: block;
  color: #005ad5;
  letter-spacing: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.sec_main02 .menu_list .grid_container .grid_entry article .grid_content .entry_content_header a p {
  letter-spacing: 0;
  font-size: 15px;
  white-space: nowrap;
}

.sec_main02 .menu_list .more_button {
  position: relative;
  z-index: 30;
  display: table;
  width: 100%;
}

.sec_main02 .menu_list .more_button .more_view {
  width: 300px;
  height: 77px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 77px;
  padding: 0;
  border-radius: 50px;
  border: 0;
  font-size: 26px;
  color: #fff;
  display: table;
  margin: -35px auto 0;
  background: #ffb500;
  width: 180px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  margin-top: 30px;
}

.sec_main02 .menu_list .more_button .more_view::after {
  content: '';
  width: 22px;
  height: 22px;
  background: url("../img/menu/icon_list_more.png") center center no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: 0;
  margin-left: 13px;
  width: 15px;
  height: 15px;
  margin-left: 8px;
}
/*# sourceMappingURL=menu.css.map */